<app-auth-layout [backgroundImage]="'/assets/backgrounds/login.jpg'">
  <div class="forgot-wrapper card-bg" *ngIf="!success; else successTemplate">
    <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
      <h1>Forgot your<br>password?</h1>
      <p class="subtitle">We will send you an email with instructions to reset your password.</p>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email Address</mat-label>
        <input matInput formControlName="email" autocomplete="username email">
        <mat-icon matPrefix>mail</mat-icon>
        <mat-error *ngIf="forgotForm.get('email')?.hasError('required') && forgotForm.get('email')?.touched">
          Email is required
        </mat-error>
        <mat-error *ngIf="forgotForm.get('email')?.hasError('email') && forgotForm.get('email')?.touched">
          Please enter a valid email
        </mat-error>
      </mat-form-field>
      <div *ngIf="loading" class="shape-loader-container">
        <div class="shape-loader"></div>
      </div>
      <button *ngIf="!loading" mat-flat-button color="primary" class="submit-btn" type="submit" [disabled]="forgotForm.invalid">
        Send Email
      </button>
    </form>
  </div>

  <ng-template #successTemplate>
    <div class="forgot-success-message">
      <h1>Check your inbox!</h1>
      <div class="subtitle">
        We've sent you an email with instructions to reset your password.
      </div>
      <div class="auto-redirect">
        Redirecting to login...
      </div>
    </div>
  </ng-template>
</app-auth-layout>
