<app-auth-layout [backgroundImage]="'/assets/backgrounds/signin.jpg'">
  <div class="reset-wrapper card-bg" *ngIf="!resetSuccess; else successTemplate">
    <form *ngIf="!loading" [formGroup]="resetForm" (ngSubmit)="onSubmit()">
      <h1>Reset password</h1>
      <div class="subtitle">
        Create a new password for your <span class="videoflix-link">Videoflix</span> account.
      </div>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>New password</mat-label>
        <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="new_password" placeholder="Enter a password">
        <mat-icon matPrefix>lock</mat-icon>
        <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()">
          <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="resetForm.get('password')?.hasError('required') && resetForm.get('password')?.touched">
          Password is required
        </mat-error>
        <mat-error *ngIf="resetForm.get('password')?.hasError('minlength') && resetForm.get('password')?.touched">
          Your password must contain between 4 and 60 characters.
        </mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Confirm new Password</mat-label>
        <input matInput [type]="showConfirmPassword ? 'text' : 'password'" formControlName="confirm_password" placeholder="Confirm Password">
        <mat-icon matPrefix>lock</mat-icon>
        <button mat-icon-button matSuffix type="button" (click)="toggleConfirmPasswordVisibility()">
          <mat-icon>{{ showConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
        <mat-error *ngIf="(resetForm.get('password_confirm')?.touched || resetForm.get('password')?.touched)
          && resetForm.errors?.['mismatch']">
          Passwords must match.
        </mat-error>
      </mat-form-field>

      <button mat-flat-button color="primary" type="submit" class="reset-btn" [disabled]="resetForm.invalid">
        Reset my password
      </button>
    </form>

    <div *ngIf="loading" class="shape-loader-container">
      <div class="shape-loader"></div>
    </div>
  </div>

  <ng-template #successTemplate>
    <div class="success-message">
      You have successfully changed your password! Redirect in <strong>{{ timeLeft }}</strong> seconds...
    </div>
  </ng-template>
</app-auth-layout>
