.reset-wrapper {
  margin: auto;
  max-width: 410px;
  padding: 48px 38px 36px;
  background: rgba(24, 24, 28, 0.90);
  border-radius: 40px;
  box-shadow: 0 12px 48px 0 rgba(10, 10, 15, 0.30);
  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;

    h1 {
      color: #fff;
      font-size: 2.5rem;
      font-weight: 700;
      margin-bottom: 12px;
      letter-spacing: -0.02em;
    }

    .subtitle {
      color: #c9c9d6;
      font-size: 1rem;
      margin-bottom: 12px;

      .videoflix-link {
        color: #6842ef;
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .full-width {
      width: 100%;
      margin-bottom: 0;
    }

    .text-danger {
      color: #ff1744 !important;
      display: flex;
      align-items: center;
      font-size: 0.95rem;
      margin-top: 5px;

      mat-icon {
        margin-right: 3px;
        font-size: 1.1rem;
      }
    }

    .reset-btn {
      width: 100%;
      border-radius: 25px;
      margin-top: 8px;
      font-weight: 600;
      font-size: 1.09rem;
      letter-spacing: .01em;
      height: 46px;
    }
  }
}

.shape-loader-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.success-message {
  color: #fff;
  text-align: center;
  font-size: 1.2rem;
  padding: 44px 0;
}
