.profile-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  &.show-edit-mode {
    background: url('/assets/icons/edit-profile.png') no-repeat center center;
    background-size: 40px;
  }

  &:hover {
    cursor: pointer;
  }
}

.profile-avatar {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  border: 3px solid transparent;

  &:hover {
    border: 3px solid black;
  }
}

.profile-name {
  font-size: 20px;
}

.edit-mode {
    opacity: 0.5;   
}
