h2 {
  font-size: 56px;
}

.profile-section {
  background-color: #141414;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
}

.select-profile {
  display: flex;
  gap: 25px;
  flex-direction: column;
  align-items: center;
}

.profile-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  color: #808080;
  gap: 10px;

  &:hover {
    cursor: pointer;
    color: white;

    .profile-avatar {
      border-color: white;
      background-color: white;
    }

    .show-edit-mode {
      height: 50px;
      width: 50px;
      opacity: 1;
    }
  }
}

.avatar-section {
  position: relative; 
  display: flex;
  justify-content: center;
  align-items: center;

  .show-edit-mode {
    position: absolute; 
    width: 40px; 
    height: 40px; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    display: block;
    opacity: 0.7;
  }
}

.profile-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 3px solid transparent;
}

.profile-name {
  font-size: 20px;
}

.edit-mode {
  opacity: 0.5;
}

button {
  width: 250px;
  height: 40px;
  border: 2px solid #808080;
  font-size: 23px;
  font-style: normal;
  font-weight: 400;
  background-color: transparent;
  color: #808080;

  &:hover {
    color: white;
    border-color: white;
    cursor: pointer;
    transition: transform ease-in-out 200ms;
  }
}

.add-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .head {
    border-bottom: 2px solid #808080;
    width: 100%;
  }

  h2 {
    margin: 0;
  }

  p {
    font-size: 20px;
    color: #808080;
  }

  .button-section {
    margin-top: 20px;
  }

  .profile-detail {
    display: flex;
    padding-bottom: 20px;
    border-bottom: 2px solid #808080;
    align-items: center;

    input {
      width: 250px;
      height: 25px;
      //background-color: #808080;

      ::placeholder {
        color: white;
        font-size: xx-large;
      }
    }
  }

  button {
    width: 150px;
    margin-right: 20px;
  }

  .avatar-select {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.form-group {
  position: relative;
  margin-bottom: 10px;

  input {
    display: flex;
    align-items: center;
    outline: none;
    border: 2px solid #fffcf3;
    padding: 5px 15px;
    width: 100%;
    background-color: #000000;
    color: #fff;
    font-size: clamp(12px, 2vw, 18px);

    ::placeholder {
      z-index: 999;
      color: #fffcf3;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 120%;
      transition: transform 0.3s ease;
      transform: translateY(0);
    }

    &:hover {
      cursor: pointer;
      border: 2px solid #fffcf3;
    }

    &:focus {
      border: 2px solid #fffcf3;
      color: #fff;
      caret-color: #fff;

      &::placeholder {
        transform: translateY(-30px);
      }
    }

    &.ng-touched,
    &.ng-dirty {
      &.ng-invalid {
        border-color: red;
      }

      &.ng-valid {
        border-color: #00bc8f;
      }
    }
  }

  .text-danger {
    color: red;
    padding: 5px;
    font-size: 14px;
  }
}
