<section [ngSwitch]="selectProfileAction" class="profile-section">
    <div *ngSwitchCase="'selectProfile'" class="select-profile">
        <h2>Who's watching?</h2>
        <div class="profile-list">
            <div class="profile" *ngFor="let profile of profiles" (click)="selectProfile(profile)">
                <div class="avatar-section">
                    <img [src]="showAvatarUrl(profile.avatar)" alt="Avatar of {{ profile.name }}" class="profile-avatar"
                        [ngClass]="{'edit-mode': editMode}">
                    <img class="show-edit-mode" src="assets/icons/edit-profile.png" *ngIf="editMode">
                </div>
                <div class="profile-name">{{ profile.name }}</div>
            </div>
            <div *ngIf="profiles.length !==5" class="profile" (click)="addNewProfile()">
                <img src="assets/icons/add-profile.png" class="profile-avatar">
                <div class="profile-name">Add Profile</div>
            </div>
        </div>
        <button *ngIf="profiles.length !== 0" class="manage-btn" (click)="toggleEditMode()">{{ editMode ? 'Done' :
            'Manage Profiles' }}</button>
    </div>

    <div *ngSwitchCase="'editProfile'" class="add-profile">
        <h2>Edit Profile: {{ editingProfile?.name }}</h2>
        <div class="profile-detail">
            <img [src]="showAvatarUrl(editingProfile?.avatar || 'avatar_0.png')"
                alt="Avatar of {{ editingProfile?.name }}" class="profile-avatar">
            <input type="text" [(ngModel)]="editName">
            <select [(ngModel)]="editAvatar" (change)="changeAvatar(editAvatar)">
                <option *ngFor="let avatar of avatars" [value]="avatar">
                    <img [src]="showAvatarUrl(avatar)" alt="Avatar" class="profile-avatar">
                    {{ avatar }}
                </option>
            </select>

        </div>
        <div>
            <button class="save-btn" (click)="saveProfile()">Save</button>
            <button class="cancel-btn" (click)="cancelEditing()">Cancel</button>
            <button class="delete-btn" (click)="deleteProfile(editId)">Delete</button>
        </div>
    </div>

    <div *ngSwitchCase="'addProfile'" class="add-profile">
        <div class="head">
            <h2>Add Profile</h2>
            <p>Add another Profile watching videoflix.</p>
        </div>
        <form [formGroup]="profilesForm">
            <div class="profile-detail">
                <div class="avatar-select">
                    <img [src]="showAvatarUrl(profilesForm.value.avatar)" alt="Avatar" class="profile-avatar">
                    <select formControlName="avatar">
                        <option *ngFor="let avatar of avatars" [value]="avatar">{{ avatar }}</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" id="name" formControlName="name" placeholder="Name (max. 8 Characters)"
                        class="form-control name-content" maxlength="8">
                    <div *ngIf="profilesForm.controls['name'].invalid && profilesForm.controls['name'].touched">
                        Profileame is required.
                    </div>
                </div>
            </div>
            <div class="button-section">
                <button class="save-btn" (click)="addProfile()" [disabled]="!profilesForm.valid">Continue</button>
                <button class="cancel-btn" (click)="cancelEditing()">Cancel</button>
            </div>
        </form>
    </div>
</section>