<app-auth-layout [backgroundImage]="'/assets/backgrounds/login.jpg'">
  <div class="login-wrapper card-bg">
    <div *ngIf="requestloading" class="shape-loader-container">
      <div class="shape-loader"></div>
    </div>
    <form *ngIf="!requestloading" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h1>Log in</h1>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Email Address</mat-label>
        <input matInput formControlName="email" autocomplete="username">
        <mat-icon matPrefix>mail</mat-icon>
      </mat-form-field>
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Password</mat-label>
        <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="password" autocomplete="current-password">
        <mat-icon matPrefix>lock</mat-icon>
        <button mat-icon-button matSuffix type="button" (click)="togglePasswordVisibility()">
          <mat-icon>{{ showPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
        </button>
      </mat-form-field>
      <button mat-flat-button color="primary" type="submit" [disabled]="loginForm.invalid">
        Log in
      </button>
      <div class="login-links">
        <a class="login-link" routerLink="/forgot-password">Forgot password?</a>
        <span>New to Videoflix? <a class="register-link" routerLink="/register">Sign Up now</a></span>
      </div>
    </form>
  </div>
</app-auth-layout>
